* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin: 1rem 0;
}

h2 {
    padding: 1.5rem;
    border-bottom: 2px solid black;
    color: #20ad96;
}

.flex {
    display: flex;
}

.contain {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.center {
    text-align: center;
}

.item {
    border: 2px solid black;
    border-radius: .5rem;
    width: calc((100% - 4rem) / 3);
}

.info {
    padding: 1rem;
}

li {
    margin: 1rem 0;
}

.item:hover {

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form {
    justify-content: flex-end;
}

label {
    padding: 0 .5rem;
}

form label:nth-last-of-type(1) {
    margin-left: 2rem;
}

form input:last-child {
    margin-left: 2rem;
}