* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin: 3rem 0;
}

h2 {
    padding: 1.5rem;
    border-bottom: 2px solid black;
}

.contain {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.center {
    text-align: center;
}

.item {
    border: 2px solid black;
    border-radius: .5rem;
    width: calc((100% - 4rem) / 3);
}

.info {
    padding: 1rem;
}

li {
    margin: 1rem 0;
}